html{
  font-family: Roboto;
  width: 100%;
}

body{
  background-attachment: fixed;
  background-image:url('../images/bg.png');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

h4 {
  font-weight: normal;
}

.title {
  font-size: 10em;
  font-weight: 200;
  text-align: left;
}

.logo {
  margin-top: inherit;
}

#languages-list{
  list-style: none;
  padding-left: 0;
}

a{
  color: #00945a;
  text-decoration: none;
}

a:hover{
  color: #00de87;
  text-decoration: underline;
}

.card-small {
  height: 128px;
  width: 128px;
}

.lang-logo{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  transform: translateY(15%);
}

.thin-row-medium {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}
