<html>
<head>
  <title>{{ site_title }}</title>
  <link rel="stylesheet" href="assets/css/coala.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/coast.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/materialize.min.css">
  <link rel="stylesheet" href="assets/css/Roboto.css" type="text/css">
  <link rel="shortcut icon" type="image/png" href="assets/images/favicon.ico"/>
</head>
<body>
  All attributions required for some logos are listed here.
  <br>

  <p>
    x86 icon from https://visualpharm.com/
  </p>

  <p>
    TCL logo used under CC BY-SA 3.0 from https://commons.wikimedia.org/wiki/File:Tcl.svg
  </p>

  <p>
    XML icon used under CC BY 4.0 from https://www.svgrepo.com/
  </p>

  <p>
    JSON icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from www.flaticon.com used under CC 3.0 BY.
  </p>

  <script src="assets/js/materialize.min.js"></script>
</body>
</html>
