{% import 'macros.jinja2' as m %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ site_title }}</title>
  <link rel="stylesheet" href="../assets/css/coala.css" type="text/css" />
</head>
<body>
  <section class="thin-row-small">
    <h1>{{ m.language_name(language) }}</h1>
  </section>
  <table border="1" cellpadding="10">
    <tr>
      <th>Aliases</th>
      <td>
        {{ m.show_list(language.aliases) }}
      </td>
    </tr>
    <tr>
      <th>Extensions</th>
      <td>
        {{ m.show_list(language.extensions) }}
      </td>
    </tr>
    <tr>
      <th>{{ delimiter_type_comment.name }} delimiters</th>
      <td>
          {{ m.show_delimiter_list(language.delimiters, delimiter_type_comment) }}
      </td>
    </tr>
    <tr>
      <th>{{ delimiter_type_string.name }} delimiters</th>
      <td>
          {{ m.show_delimiter_list(language.delimiters, delimiter_type_string) }}
      </td>
    </tr>
    <tr>
      <th>{{ delimiter_type_block.name }} delimiters</th>
      <td>
          {{ m.show_delimiter_list(language.delimiters, delimiter_type_block) }}
      </td>
    </tr>
    <tr>
      <th>Keywords</th>
      <td>
        {{ m.show_list(language.keywords) }}
      </td>
    </tr>
  <table>
</body>
</html>
