{% macro language_name(language) %}
{% if language.full_name %}
{{ language.full_name }}
{% else %}
{{ language.identifier }}
{% endif %}{# if language.full_name #}
{% endmacro %}

{% macro show_grammar(grammar_file) %}
  {{ grammar_file }}
{% endmacro %}

{% macro show_list(list, separator=',') %}
  {% for item in list %}
    {{ item | escape }}{% if not loop.last %}{{ separator }} {% endif %}
  {% endfor %}{# for item in list #}
{% endmacro %}

{% macro show_delimiter_list(delimiters, type) %}
  <ul>
  {% for item in delimiters %}
    {% if item.type == type %}
    <li><tt>{{ item.start | escape }}</tt> -
      {% if item.end %}
        <tt>{{ item.end | escape }}</tt>
      {% else %}
        (EOL)
      {% endif %}{# if item.end #}
    </li>
    {% endif %}{# if item.type == type #}
  {% endfor %}{# for item in delimiters #}
</ul>
{% endmacro %}

{%- macro language_id(language) -%}
  {{ language.identifier }}
{% endmacro %}
